JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
JWT_SECRET_RECOVER_KEY=
NODE_ENV=dev
FRONTEND_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=peakrent.wild@gmail.com
SMTP_PASS=
STRIPE_KEY=sk_....
DEV_WEBHOOK_ENDPOINT=whsec_...
PROD_WEBHOOK_ENDPOINT=whsec_...
