{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": "always",
    "source.addMissingImports": "always",
    "source.organizeImports": "always"
  },
  "importOrderMergeDuplicateImports": true
}
