// Imports
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Colors
$text-primary-color: #3498db;
$text-secondary-color: #757575;
$text-light-secondary-color: #f0f;
$main-background-color: #ecf0f1; // or #f5f5f5;
$principal-color: #900c3f;
$white: #fafafa;

// Fonts
$font-family-main: "Montserrat", sans-serif; // or "Afacad Flux", sans-serif
$font-family-logo: "Indie Flower", cursive;

$bg: #edf2f0;

$neu-1: #ecf0f3;
$neu-2: #d1d9e6;

$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;

$purple: #4b70e2;

$transition: 1.25s;
