@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.3rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.47 0.0784 148.94);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.63 0.1166 134.9);
  --secondary-foreground: oklch(0.982 0.018 155.826);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.56 0.1512 22.42);
  --destructive-foreground: oklch(0.982 0.018 155.826);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.47 0.0784 148.94);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --font-logo: "Gajraj One", sans-serif;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.696 0.17 162.48);
  --primary-foreground: oklch(0.393 0.095 152.535);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.527 0.154 150.069);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@theme {
  --color-warmGray-300: oklch(88.49% 0.004 257.83);
  --color-warmGray-500: oklch(74.58% 0.052 262.53);
  --color-warmGray-700: oklch(59.27% 0.064 263.59);
  --color-warmGray-900: oklch(40.78% 0.052 264.46);
  --color-coolGray-300: oklch(90.94% 0.05 263.98);
  --color-coolGray-500: oklch(66.96% 0.078 262.82);
  --color-coolGray-700: oklch(47.81% 0.063 262.62);
  --color-coolGray-900: oklch(32.83% 0.052 263.22);
  --color-trueGray-300: oklch(88.49% 0.004 257.83);
  --color-trueGray-500: oklch(59.27% 0.064 263.59);
  --color-trueGray-700: oklch(50.1% 0.044 263.4);
  --color-trueGray-900: oklch(30.26% 0.042 262.65);
  --color-blueGray-300: oklch(86.77% 0.033 262.38);
  --color-blueGray-500: oklch(50.1% 0.044 263.4);
  --color-blueGray-700: oklch(40.78% 0.052 264.46);
  --color-blueGray-900: oklch(32.83% 0.052 263.22);
  --color-olive-300: oklch(86.26% 0.115 146.31);
  --color-olive-500: oklch(65.14% 0.164 137.86);
  --color-olive-700: oklch(52.24% 0.151 137.83);
  --color-olive-900: oklch(37.84% 0.124 139.56);
  --color-maroon-100: oklch(88.44% 0.114 29.3);
  --color-maroon-300: oklch(76.56% 0.095 29.16);
  --color-maroon-500: oklch(52.7% 0.163 27.61);
  --color-maroon-700: oklch(39.33% 0.145 27.39);
  --color-maroon-900: oklch(20.97% 0.082 27.44);
  --color-lavender-300: oklch(83.86% 0.186 316.53);
  --color-lavender-500: oklch(66.91% 0.12 309.52);
  --color-lavender-700: oklch(50.78% 0.075 295.49);
  --color-lavender-900: oklch(36.5% 0.066 294.82);
  --color-turquoise-100: oklch(95.7% 0.041 199.88);
  --color-turquoise-300: oklch(80.18% 0.151 198.46);
  --color-turquoise-500: oklch(68.71% 0.152 193.78);
  --color-turquoise-700: oklch(56.68% 0.134 193.89);
  --color-turquoise-900: oklch(40.71% 0.105 196.14);
  --color-gold-300: oklch(93.61% 0.231 99.93);
  --color-gold-500: oklch(74.88% 0.155 93.49);
  --color-gold-700: oklch(68.53% 0.131 92.73);
  --color-gold-900: oklch(51.25% 0.106 92.55);
  --color-platinum-300: oklch(86.37% 0.014 254.15);
  --color-platinum-500: oklch(70.17% 0.024 257.37);
  --color-platinum-700: oklch(67.68% 0.016 263.39);
  --color-platinum-900: oklch(50.85% 0.011 262.99);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: "Inter", sans-serif;

  --font-logo: "Gajraj One", "sans-serif";
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.logo {
  font-family: "Gajraj One", sans-serif;
}

.btn-primary,
.btn-secondary {
  font-size: 12px;
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
  background: linear-gradient(90deg, var(--primary) 50%, #ffffff 0)
    var(--_p, 100%) / 250% no-repeat;
}

.btn-primary:hover,
.btn-secondary:hover {
  > * {
    transition: 0.3s;
    transform: scale(1.5);
  }
}

.btn-primary {
  background: var(--primary);
  color: var(--primary-foreground);
  cursor: pointer;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* fond de la scrollbar */
::-webkit-scrollbar-track {
  background: var(--primary-foreground);
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
.table-scrollbar::-webkit-scrollbar {
  height: 5px;
}
/* poigné de la scrollbar */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 20px;
}
