@use "../../styles/variables" as *;

.container {
  position: relative;
  animation: slideLeft 1s ease-in-out;
  border: 1px solid $principal-color;
  border-radius: 7px;
  background-color: $white;
  padding: 10px;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  p {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $principal-color;
      max-width: 25em;
    }
  }
  .modalContainer {
    button {
      position: absolute;
      top: -5px;
      right: -5px;
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(600px);
  }
  50% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
