@import "../../styles/variables";

.DEFAULT {
  min-width: 100px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid $principal-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: bold;
  color: $principal-color;
  // background-color: $white;
  cursor: pointer;
  background: linear-gradient(90deg, $principal-color 50%, $white 0)
    var(--_p, 100%) / 250% no-repeat;
  &:hover {
    transition: 0.5s;
    --_p: 0%;
    color: $white;
  }
}

.PRIMARY {
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
  background: linear-gradient(45deg, $principal-color 50%, $white 0)
    var(--_p, 100%) / 250% no-repeat;
}

.SECONDARY {
  min-width: 40px;
  background: $principal-color;
  color: $white;
  cursor: pointer;
  &:hover {
    > * {
      transition: 0.3s;
      transform: scale(1.5);
    }
  }
}

.TERTIARY {
  min-width: 40px;
  background: $white;
  color: $principal-color;
  cursor: pointer;
  &:hover {
    > * {
      transition: 0.3s;
      transform: scale(1.5);
      color: $principal-color;
    }
  }
}

.QUATERNARY {
  border: none;
  min-width: 40px;
  background: $white;
  color: $principal-color;
  cursor: pointer;
  &:hover {
    > * {
      transition: 0.3s;
      transform: scale(1.5);
      color: $principal-color;
    }
  }
}

.disabled {
  display: none;
}
