@use "../../styles/variables" as *;

.container {
  margin-top: 20px;
  .caption {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    svg {
      margin: 0;
      padding: 0;
    }

    .newItemContainer {
      position: absolute;
      right: 55px;
      top: 10px;
      border: 1px solid $text-secondary-color;
      border-radius: 7px;
      background-color: $white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      p {
        font-size: 17px;
      }
      .inputBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .inputBody {
          width: 100%;
          font-size: 14px;
          padding: 8px 12px;
          border: 1px solid #dcdcdc;
          border-radius: 4px;
          color: #333;
          outline: none;

          &:focus {
            border-color: #90caf9;
            box-shadow: 0 0 4px rgba(144, 202, 249, 0.5);
          }

          &::placeholder {
            color: $text-light-secondary-color;
          }
        }
      }
      animation: slideLeft 1s ease-in-out;
    }
  }
  .categories,
  .tags {
    width: 80%;
    margin: 0 auto;
  }
  .categorieContainer,
  .tagContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: $white;

    .inputBody {
      width: 50%;
      font-size: 14px;
      padding: 8px 12px;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      color: #333;
      outline: none;

      &:focus {
        border-color: #90caf9;
        box-shadow: 0 0 4px rgba(144, 202, 249, 0.5);
      }

      &::placeholder {
        color: $text-light-secondary-color;
      }
    }

    .buttonsContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(600px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
