@use "../../styles/variables" as *;

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .form {
    width: 100%;
    .container {
      margin-top: 20px;
      .caption {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        svg {
          margin: 0;
          padding: 0;
        }
      }
      .categories,
      .tags {
        width: 80%;
        margin: 0 auto;
      }
      .categorieContainer,
      .tagContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3px;
        padding: 5px;
        border: 1px solid #dcdcdc;
        border-radius: 4px;
        // color: $white;
        background-color: $white;
        .buttonsContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
      }
    }
  }
}
