@import "../../styles/variables";

.form {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.titleContainer {
  padding-top: 20px;
}
h2 {
  font-size: 20px;
}

.bookInfo,
.ownerInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5px;

  .inputCaption {
    font-size: 15px;
    color: $text-secondary-color;
    margin-bottom: 4px;
    span {
      font-size: 13px;
    }
  }

  .inputBody {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #333;
    outline: none;

    &:focus {
      border-color: #90caf9;
      box-shadow: 0 0 4px rgba(144, 202, 249, 0.5);
    }

    &::placeholder {
      color: $text-light-secondary-color;
    }
  }
}

.tagsContainer {
  margin: 0 5px;
  margin-bottom: 10px;
  .checkboxesCaption {
    font-size: 15px;
    color: $text-secondary-color;
    margin-bottom: 2px;
  }
  .checkboxesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    label {
      margin: 3px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #dcdcdc;
      border-radius: 4px;
      background-color: $white;
      cursor: pointer;

      input[type="checkbox"] {
        display: none;
      }
      span {
        width: 10px;
        height: 10px;
        border: 1px solid #333;
        border-radius: 20px;
        margin-right: 5px;
        background-color: $white;
      }
      input[type="checkbox"]:checked + span {
        background-color: $principal-color;
        border-color: $principal-color;
      }
    }
  }
}
